<div class="home-page">


<!-- MAIN NAVIGATION -->

	<div class="main-nav">
		<div class="container">
			<div id="branding">
				<h1 id="logo">Chatkin</h1>
			</div>

			<ul>
				<li>Demo</li>
				<li>Pricing</li>
				<li>Partners</li>
				<li>Twitter</li>
				<li id="sign-up">Sign Up</li>
				<li id="log-in">Log In</li>
			</ul>
		</div>
	</div>



<!-- (ABOVE THE FOLD SECTION) 
	LIGHT BLUE HEADER -->

	<div id="light-blue-header">
		<div class="container">
			<div id="top-left-text">
				<h3>In the past</h3>
				<p>When you get that urge to share something onlline, you have to reroute to another social networking site like Twitter, or Facebook.</p>
			</div>
			<div id="chatkin-head"></div>
			<div id="spaceship-on-cloud"></div>
			<div id="social-balloons"></div>
			<div id="bot-right-text">
				<h3>Chatkin has landed</h3>
				<p>But why reroute to another page when you can say everything you want from the comfort of your current website? Chatkin makes the entire web seem a little less lonely, and a lot more personal! Chatkin wants to make every page a social network of its own!</p>
			</div>
		</div>
	</div>




<!-- CALL TO ACTION SECTION 
	FOR URL REQUEST -->
	<div class="container">

		<div id="call-to-action-input">
			<h2>Don't Have An Account?</h2>
			<input type="text" id="call-to-action-input" placeholder="What's Your Website's URL?" />
			<div id="sign-me-up-button">
				<p>Sign Me Up!</p>
			</div>
		</div>
		<div id="shadow-image"></div>



<!-- SECTION FOR ALL THE "LEARN
	MORE" OPTIONS -->

		<div id="three-things">
			<h1>3 Things Chatkin Can Do For You</h1>
			<div class="three-things">
				<div id="grow">
					<h2>Grow Your Own Community</h2>
					<!-- We'll put the image as background of the div -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vel ante quam. Etiam eu est in tortor</p>
					<div class="small-button">
						<p>Learn More...</p>
					</div>
				</div>

				<div id="capture">
					<h2>Capture Sign-Ups</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vel ante quam. Etiam eu est in tortor</p>
					<div class="small-button">
						<p>Learn More...</p>
					</div>
				</div>

				<div id="no-installation">
					<h2>No Installation</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla vel ante quam. Etiam eu est in tortor</p>
					<div class="small-button">
						<p>Learn More...</p>
					</div>
				</div>
			</div>
		</div>






</div>













